/* service page body section css part starts */

.Account__section__title{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */
    margin: 0px 50px;
    
    color: rgba(221, 57, 9, 0.91);
    

}

.fa-solid{
margin-right: 10px;
}



.Account__service__form p{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    
    
    color: rgba(0, 0, 0, 0.5);

display: flex;
align-items: flex-start;
}

.Account__service__form input{
    background: #FFFFFF;
        box-shadow: 4px 4px 10px rgba(136, 136, 136, 0.25);
        border-radius: 8px;
        width: 70%;
        border: none;
        padding: 10px; 
}

input.Account__service__form-amount{
    background: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(136, 136, 136, 0.25);
    border-radius: 8px;
    width: 140px;
    border: none;
    padding: 10px; 

}


.Acount__service__form--description p{
    
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    
    
    color: rgba(0, 0, 0, 0.5);

display: flex;
align-items: flex-start;
    }
    
    .Account__service__form{
        margin: 5px 50px;
    }

    .Account__service__form--description input{
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgba(136, 136, 136, 0.25);
        border-radius: 8px;
        width: 348px;
        border: none;
        padding: 10px;
    }

.Account__service__buttons{
    margin: 10px 0px;
}
    .submit-btn{
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        background: linear-gradient(90.07deg, #DE3409 0.06%, #E06907 50.18%, #DD300A 99.95%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
cursor: pointer;
text-decoration: none;
padding: 10px;
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
width: 158px;
color: #FFFFFF;
margin: 0px 50px;
    }

    .cancel-btn{
        text-decoration: none;     
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
padding: 10px;
color: rgba(0, 0, 0, 0.5);
border: none;

    }

    .service__requestimg{
        display: block;
        width: 100%;
        object-fit: cover;
    }

    /* ends */
    .Account__servicepage{
    background: #F3F3F3;
border-radius: 20px;
height: 100%;
}

.service__buttons{
    display: flex;
}

input[type="file"]{
    display: none;
}

label{
    text-align: center;
    padding: 10px;
    color: black;
    width: 178px;
background: #FFFFFF;
box-shadow: 4px 4px 10px rgba(136, 136, 136, 0.25);
border-radius: 8px;
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;

color: #969191;

}

#file__border{
    width: 121px;
    background: #FFFFFF;
border: 1px dashed #ACA4A4;
box-sizing: border-box;
padding: 2px;
border-radius: 10px;
}

#file__border img{
margin: 0px 5px;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .Account__section__title{
        margin: 0px 20px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: rgba(221, 57, 9, 0.91);
    }

    .Account__service__form {
        margin: 0px;
    }

    .Account__service__form p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
    }

    .Account__service__form input {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 270px;
        border: none;
        padding: 10px;
        margin-left: 20px;
    }

    input.Account__service__form-amount {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 140px;
        border: none;
        padding: 10px;
    }

    label {
        text-align: center;
        padding: 10px;
        color: black;
        width: 178px;
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: #969191;
        margin-left: 20px;
    }
    .submit-btn {
        border: none;
        text-align: center;
        color: #FFFFFF;
        background: linear-gradient(90.07deg, #DE3409 0.06%, #E06907 50.18%, #DD300A 99.95%);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
        padding: 0px 10px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        width: 158px;
        color: #FFFFFF;
        margin: 0px 20px;
    }

}




@media only screen and (min-width: 375px) and (max-width: 425px) {
    .Account__section__title {
        margin: 0px 20px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: rgba(221, 57, 9, 0.91);
    }

    .Account__service__form {
        margin: 0px;
    }

    .Account__service__form p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
    }

    .Account__service__form input {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 270px;
        border: none;
        padding: 10px;
        margin-left: 20px;
    }

    input.Account__service__form-amount {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 140px;
        border: none;
        padding: 10px;
    }

    label {
        text-align: center;
        padding: 10px;
        color: black;
        width: 178px;
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: #969191;
        margin-left: 20px;
    }
    .submit-btn {
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        background: linear-gradient(90.07deg, #DE3409 0.06%, #E06907 50.18%, #DD300A 99.95%);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
        padding: 10px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        width: 158px;
        color: #FFFFFF;
        margin: 0px 20px;
    }

}


@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .Account__service__form input {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 232px;
        border: none;
        padding: 10px;
    }
    .Account__section__title {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 49px;
        margin: 0px 48px;
        color: rgba(221, 57, 9, 0.91);
    }
}
