/* service page body section css part starts */

.CSE__section__title{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */
    margin: 0px 20px;
    
    color: rgba(221, 57, 9, 0.91);
    

}

.fa-solid{
margin-right: 10px;
}



.CSE__service__form p{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    
    
    color: rgba(0, 0, 0, 0.5);

display: flex;
align-items: flex-start;
}

.CSE__service__form-product p{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    
    
    color: rgba(0, 0, 0, 0.5);

display: flex;
align-items: flex-start;
}

.CSE__service__form-client p{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    
    
    color: rgba(0, 0, 0, 0.5);

display: flex;
align-items: flex-start;
}


.CSE__service__form input{
    background: #FFFFFF;
        box-shadow: 4px 4px 10px rgba(136, 136, 136, 0.25);
        border-radius: 8px;
        width: 348px;
        height: 110px;
        border: none;
        padding: 10px; 
}


.CSE__service__form-product input{
    background: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(136, 136, 136, 0.25);
    border-radius: 8px;
    width: 348px;
    height: 83px;
    border: none;
    padding: 10px; 
}

    
.CSE__service__form-client input{
    background: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(136, 136, 136, 0.25);
    border-radius: 8px;
    width: 348px;
    height: 73px;
    border: none;
    padding: 10px; 
}

    .CSE__service__form{
        margin: 0px 74px;
    }

    .CSE__service__form-product{
        margin: 0px 74px;
    }

    .CSE__service__form-client{
        margin: 0px 74px;
    }

    .submit-btn{
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        background: linear-gradient(90.07deg, #DE3409 0.06%, #E06907 50.18%, #DD300A 99.95%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
cursor: pointer;
text-decoration: none;
padding: 10px;
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
width: 158px;
color: #FFFFFF;
margin: 0px 74px;
    }

    .cancel-btn{
        text-decoration: none;     
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
padding: 10px;
color: rgba(0, 0, 0, 0.5);


    }

    .CSE__service__requestimg{
        display: block;
        width: 100%;
        object-fit: cover;
    }

    /* ends */
.CSE__servicepage{
    background: #F3F3F3;
border-radius: 20px;
margin: 0px 30px;
height: 100%;
}

.CSE__service__buttons{
    display: flex;
}

input[type="file"]{
    display: none;
}

label{
    text-align: center;
    padding: 10px;
    color: black;
    width: 178px;
background: #FFFFFF;
box-shadow: 4px 4px 10px rgba(136, 136, 136, 0.25);
border-radius: 8px;
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;

color: #969191;

}

#file__border{
    width: 100px;
    background: #FFFFFF;
border: 1px dashed #ACA4A4;
box-sizing: border-box;
border-radius: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {

    .CSE__section__title {
        margin: 0px 20px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: rgba(221, 57, 9, 0.91);
    }

    .CSE__service__form {
        margin: 0px;
    }

    .CSE__service__form-client {
        margin: 0px;
    }
    .CSE__service__form-product {
        margin: 0px;
    }

    .CSE__servicepage {
        background: #F3F3F3;
        border-radius: 20px;
        margin: 0px;
    }

    .CSE__service__form p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
    }

    .CSE__service__form input {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 270px;
        border: none;
        padding: 10px;
        margin-left: 20px;
    }

    .CSE__service__form-client input {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 270px;
        border: none;
        padding: 10px;
        margin-left: 20px;
    }

    .CSE__service__form-product input {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 270px;
        border: none;
        padding: 10px;
        margin-left: 20px;
    }

    .CSE__service__form-product p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
    }


    .CSE__service__form-client p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
    }

    .submit-btn {
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        background: linear-gradient(90.07deg, #DE3409 0.06%, #E06907 50.18%, #DD300A 99.95%);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
        padding: 10px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        width: 158px;
        color: #FFFFFF;
        margin: 0px 20px;
    }

}



@media only screen and (min-width: 375px) and (max-width: 425px) {

    .CSE__section__title {
        margin: 0px 20px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: rgba(221, 57, 9, 0.91);
    }

    .CSE__service__form {
        margin: 0px;
    }

    .CSE__service__form-client {
        margin: 0px;
    }
    .CSE__service__form-product {
        margin: 0px;
    }

    .CSE__servicepage {
        background: #F3F3F3;
        border-radius: 20px;
        margin: 0px;
    }

    .CSE__service__form p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
    }

    .CSE__service__form input {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 270px;
        border: none;
        padding: 10px;
        margin-left: 20px;
    }

    .CSE__service__form-client input {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 270px;
        border: none;
        padding: 10px;
        margin-left: 20px;
    }

    .CSE__service__form-product input {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 270px;
        border: none;
        padding: 10px;
        margin-left: 20px;
    }

    .CSE__service__form-product p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
    }


    .CSE__service__form-client p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
    }

    .submit-btn {
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        background: linear-gradient(90.07deg, #DE3409 0.06%, #E06907 50.18%, #DD300A 99.95%);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
        padding: 10px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        width: 158px;
        color: #FFFFFF;
        margin: 0px 20px;
    }

}


@media only screen and (min-width: 425px) and (max-width: 768px) {

    .CSE__section__title {
        margin: 0px 20px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: rgba(221, 57, 9, 0.91);
    }

    .CSE__service__form {
        margin: 0px;
    }

    .CSE__service__form-client {
        margin: 0px;
    }
    .CSE__service__form-product {
        margin: 0px;
    }

    .CSE__servicepage {
        background: #F3F3F3;
        border-radius: 20px;
        margin: 0px;
    }

    .CSE__service__form p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
    }

    .CSE__service__form input {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 350px;
        border: none;
        padding: 10px;
        margin-left: 20px;
    }

    .CSE__service__form-client input {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 350px;
        border: none;
        padding: 10px;
        margin-left: 20px;
    }

    .CSE__service__form-product input {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 350px;
        border: none;
        padding: 10px;
        margin-left: 20px;
    }

    .CSE__service__form-product p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
    }


    .CSE__service__form-client p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
    }

    .submit-btn {
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        background: linear-gradient(90.07deg, #DE3409 0.06%, #E06907 50.18%, #DD300A 99.95%);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
        padding: 10px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        width: 158px;
        color: #FFFFFF;
        margin: 0px 20px;
    }

}





@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .CSE__section__title {
        margin: 0px 20px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: rgba(221, 57, 9, 0.91);
    }

    .CSE__service__form {
        margin: 0px;
    }

    .CSE__service__form-client {
        margin: 0px;
    }
    .CSE__service__form-product {
        margin: 0px;
    }

    .CSE__servicepage {
        background: #F3F3F3;
        border-radius: 20px;
        margin: 0px;
    }

    .CSE__service__form p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
    }

    .CSE__service__form input {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 270px;
        border: none;
        padding: 10px;
        margin-left: 20px;
    }

    .CSE__service__form-client input {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 270px;
        border: none;
        padding: 10px;
        margin-left: 20px;
    }

    .CSE__service__form-product input {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 270px;
        border: none;
        padding: 10px;
        margin-left: 20px;
    }

    .CSE__service__form-product p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
    }


    .CSE__service__form-client p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
    }

    .submit-btn {
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        background: linear-gradient(90.07deg, #DE3409 0.06%, #E06907 50.18%, #DD300A 99.95%);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
        padding: 10px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        width: 158px;
        color: #FFFFFF;
        margin: 0px 20px;
    }

}



@media only screen and (min-width: 1024px) and (max-width: 1200px) {

    .CSE__section__title {
        margin: 0px 20px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: rgba(221, 57, 9, 0.91);
    }

    .CSE__service__form {
        margin: 0px;
    }

    .CSE__service__form-client {
        margin: 0px;
    }
    .CSE__service__form-product {
        margin: 0px;
    }

    .CSE__servicepage {
        background: #F3F3F3;
        border-radius: 20px;
        margin: 0px;
    }

    .CSE__service__form p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
    }

    .CSE__service__form input {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 340px;
        border: none;
        padding: 10px;
        margin-left: 20px;
    }

    .CSE__service__form-client input {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 340px;
        border: none;
        padding: 10px;
        margin-left: 20px;
    }

    .CSE__service__form-product input {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgb(136 136 136 / 25%);
        border-radius: 8px;
        width: 340px;
        border: none;
        padding: 10px;
        margin-left: 20px;
    }

    .CSE__service__form-product p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
    }


    .CSE__service__form-client p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
    }

    .submit-btn {
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        background: linear-gradient(90.07deg, #DE3409 0.06%, #E06907 50.18%, #DD300A 99.95%);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
        padding: 10px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        width: 158px;
        color: #FFFFFF;
        margin: 0px 20px;
    }

}
