*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-section{
 width: 100%;
 max-width: 950px;
 margin: 0 auto;
}
.login-section h2{
 font-weight: normal;
font-size: 24px;
line-height: 49px;
margin: 10px;
color: #000000;
}
.login-section__body{
 padding: 60px 125px 10px;
}
.login-section__body .email-field{
 margin-right: 70px;
}
.login-section__body .password-field{
 margin-right: 25px;
}
.login-section__body span{
 font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 33px;
color: #000000;
margin-top: 10px;
}
.login-section__body input{
  height: 45px;
  border: none;
  background: #FFFFFF;
box-shadow: 4px 4px 10px rgba(136, 136, 136, 0.25);
border-radius: 8px !important;
margin-bottom: 28px;
}
.login-section__body .forgot-pass{
 text-align: end;
 margin: 20px 0;
}
.login-section__body .forgot-pass a{
 font-weight: normal;
font-size: 24px;
line-height: 33px;
color: #11949A;
text-decoration: none;
}
.login-section__body .register-here p{
 font-weight: normal;
font-size: 20px;
line-height: 33px;
color: #000000;
}
.login-section__body .register-here a{
color: #11949A;
text-decoration: none;
}
.login-section__img{
 display: flex;
 justify-content: center;
 margin: 0 auto;
}
.login-section__img img{
 display: flex;
 height: 30px;
 width: 30px;
 margin-left: 25px;
}
.login-section__body button{
 width: 100%;
 background: linear-gradient(90.07deg, #DE3409 0.06%, #E06907 50.18%, #DD300A 99.95%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
color: white !important;
    font-size: 32px !important;
    line-height: 37px !important;
margin-top: 20px;
}
.login-section .or-line{
 display: flex;
 justify-content: center;
 align-items: center;
}
.login-section .or-line hr{
 width: 35%;
}
.login-section .or-line h2{
 margin: 0 20px 20px;
}
.input-wrapper{
 position: relative;
}
.show-pass{
   position: absolute;
    width: 40px;
    top: 5px;
    right: 12px;
}
.register-here{
 text-align: center;
}
@media only screen and (max-width: 767px) {
 .login-section__body{
padding: 40px 10px 10px;
}
.login-section__body .email-field {
    margin-right: 50px;
}
.login-section__body .password-field {
    margin-right: 5px;
}
}


/* nav */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    color: red;
    text-decoration: none  !important;
}
header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.logo{
    cursor: pointer;
}
.nav-area{
    list-style: none;

}

.dropdown{
    border: none;
    font-size: 16px;
}
.hamburger{
    display: none;
}



.nav-title li{
    display: inline-block;
    padding: 0 30px;
}
.nav-title li a{
    transition: all .3s ease 0s;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;

    color: #A6A6A6;
}

.nav-area li{
    display: inline-block;
    padding: 0 10px;
    text-transform: uppercase;
}
.nav-area li a{
    transition: all .3s ease 0s;
    color: red;
}

.header__search{
    padding: 0px 30px;
    display: flex;
    justify-content: space-between
}
.nav-area li a img{
    width: 80%;
    padding: 0px 30px;

}
.btn-area  img{
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Noto Sans;
    font-size: 14px;
    padding: 0px 10px;
}








@media screen and (max-width: 1099px){

    .fa-solid{
        display: block;
        font-size: 20px;
    }


    .btn-area img{
        display: none;
    }

    .nav-area img{
display: none;
    }

    .nav-title li{
        display: inline-block;
        padding: 20px;
    }

}


@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    .fa-solid{
        display: block;
        font-size: 20px;
    }


    .btn-area img{
        display: none;
    }

    .nav-area img{
display: none;
    }

    .nav-title li{
        display: inline-block;
        padding: 20px;
    }

}



@media screen and (min-device-width: 425px) and (max-device-width: 768px) {

    .fa-solid{
        display: block;
        font-size: 20px;
    }


    .btn-area img{
        display: none;
    }

    .nav-area img{
display: none;
    }

    .nav-title li{
        display: inline-block;
        padding: 10px;
    }

    header{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
    }

}


@media screen and (min-device-width: 375px) and (max-device-width: 425px) {

    .fa-solid{
        display: block;
        font-size: 20px;
    }


    .btn-area img{
        display: none;
    }

    .nav-area img{
display: none;
    }

    .nav-title li{
        margin-left: 0px;
        display: inline-block;
        padding: 5px;
    }

    header{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
    }

}


@media screen and (min-device-width: 320px) and (max-device-width: 375px) {

    .fa-solid{
        display: block;
        font-size: 20px;
    }


    .btn-area img{
        display: none;
    }

    .nav-area img{
display: none;
    }

    .nav-title li{
        margin-left: 0px;
        display: inline-block;
        padding: 0px;
        margin: -3px;
    }

    header{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
    }

}
/* ------------- */

.section__title{
    font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
/* identical to box height */


color: #000000;
}

.fa-solid{
margin-right: 20px;
}


.bars{
    display: none;
}

.service__form p{

font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;
}

.service__form input{
    background: #F0F0F0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(136, 136, 136, 0.25);
    border-radius: 8px;
    border: none;
    padding: 10px;
    width: 70%;
}


.servicepage{
padding: 10px;
}

.service__form--description p{

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
    }

    .service__form--description span{

        font-family: Noto Sans;
        font-style: normal;
        font-size: 16px;
        display: flex;
        align-items: center;
        color: #F0F0F0;;
        }

    .service__form--description textarea{
        background: linear-gradient(180deg, #F0F0F0 94.79%, #DF4609 100%);
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        box-shadow: 4px 4px 10px rgba(136, 136, 136, 0.25);
        border-radius: 8px;
        width: 70%;
        height: 200px;
        border: none;
        padding: 10px;
    }

    .submit-btn a{
        color: #FFFFFF;
    }

    .submit-btn{
        background: linear-gradient(90deg, #DE3309 -21.63%, #E06907 56.59%, #F7350A 129.49%);
border-radius: 6px;
font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
text-align: center;
padding: 10px;
color: #FFFFFF;
width: 70%;
cursor: pointer;
text-decoration: none;
    }

    .service__requestimg{
display: flex;
justify-content: center;
align-items: center;
    }



    .opennav{
display: none;
    }


@media screen and (max-width: 1099px) {



    .dropdown{
        display: none;
    }

    .bars{
        display: block;
        font-size: 20px;
    }

    .opennav{
        display: block;
        font-size: 20px;
            }



    .btn-area img{
        display: none;
    }

    .nav-area img{
display: none;
    }

    .nav-title li{
        display: inline-block;
        padding: 20px;
    }

}

    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {


    .dropdown{
        display: none;
    }

        .bars{
            display: block;
            font-size: 20px;
        }

        .hamburger{
            display: block;
        }

        .overlay .closebtn {
            font-size: 60px;
            display: block;
          }


        }



@media screen and (min-device-width: 425px) and (max-device-width: 768px) {

    .bars{
        display: block;
        font-size: 20px;
    }

    .hamburger{
        display: block;
    }

    .btn-area img{
        display: none;
    }

    .dropdown{
        display: none;
    }
    .nav-area img{
display: none;
    }

    .nav-title li{
        display: inline-block;
        padding: 3px;
}

.overlay .closebtn {
    font-size: 60px;
    display: block;
  }


}





@media screen and (min-device-width: 375px) and (max-device-width: 425px) {


    .dropdown{
        display: none;
    }

    .bars{
        display: block;
        font-size: 16px;
    }

    .hamburger{
        display: block;
    }

    .btn-area img{
        display: none;
    }

    .nav-area img{
display: none;
    }

    .nav-title li{
        display: inline-block;
        padding: 1px;
}

.overlay .closebtn {
    font-size: 60px;
    display: block;
  }


}



@media screen and (min-device-width: 320px) and (max-device-width: 375px) {


    .dropdown{
        display: none;
    }

    .overlay .closebtn {
        font-size: 60px;
        display: block;
      }

    .bars{
        display: block;
        font-size: 16px;
    }

    .hamburger{
        display: block;
    }

    .btn-area img{
        display: none;
    }

    .nav-area img{
display: none;
    }

    .nav-title li{
        display: inline-block;
        padding: 1px;
}

}

.overlay .closebtn {
    font-size: 60px;
    display: none;
  }

.login-button{
  background: linear-gradient(90deg, #DE3309 -21.63%, #E06907 56.59%, #F7350A 129.49%);
border-radius: 6px;
border: 0;
color: white;
    padding: 8px 30px;
    margin:0 10px 0 50px;
}
