body {
  font-family: "Noto Sans", serif;
  font-size: 18px;
}

.arrow {
  transform: rotate(180deg);
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

dt {
  font-weight: 100;
}

p{
    margin-bottom: 0;
}

aside {
  overflow: hidden;
  background: #efefef;
  border-radius: 20px;
  padding: 30px;
}

.box {
  background: #efefef;
  border-radius: 15px;
  padding: 40px 40px 40px 30px;
}

.box h4 {
  font-size: 28px;
  font-weight: bold;
}
.box dt {
  color: #9e9e9e;
}
.box img {
  margin-right: 7px;
}
.checkout-btn {
  background: linear-gradient(
    90deg,
    #de3309 -21.63%,
    #e06907 56.59%,
    #f7350a 129.49%
  );
  border-radius: 6px;
  color: white;
  border: none;
  padding: 10px 20px;
}

.modal-trigger{
    margin-bottom: 10px;
}

.write{
    cursor: pointer;
}

.modal-content{
    background: #F0F0F0;
    border-radius: 10px;
    font-weight: 700;
}

.modal-header{
    border-bottom: none;
}

.modal-content input, textarea{
    box-shadow: 4px 4px 10px rgba(136, 136, 136, 0.25);
    border-radius: 8px;
    border: none;
}

.modal-body>.row{
    padding: 0 20px 20px 20px;
}

.modal-body{
    padding: 20px 120px;
}

.cart{
    width: 100%;
}

.product-content{
    width: 100%;
    height: 70px;
    box-shadow: 4px 4px 10px rgba(136, 136, 136, 0.25);
    border-radius: 8px;
    color: black;
    padding: 30px;
    margin: 25px 0;
    position: relative;
    border-bottom: 5px solid #ea5409 !important;
}

.p30{
    padding: 30px;
}

.m20{
    margin: 20px;
}

.closeIcon{
    position: absolute;
    right: -30px;
    cursor: pointer;
}

.p0-30 {
    padding: 0 30px;
}

.m20-0{
    margin: 20px 0;
}