body {
    font-family: 'Noto Sans';
}

/* nav button  */
.login__register-btn {
    width: 178px;
    height: 43px;
    top: 64px;
    color: white;
    background: linear-gradient(90deg, #DE3309 -21.63%, #E06907 56.59%, #F7350A 129.49%);
    border: none;
    border-radius: 6px;
}

/* registration field  */
.registration__box {
    width: 580px;
    height: 660px;
}

.registration__text {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}

.input__tittle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}

.input__field {
    width: 520px;
    height: 48px;
    left: 30px;
    top: 108px;
    border: none;
    background: #FFFFFF;
    box-shadow: -2px -2px 10px rgba(180, 180, 180, 0.15), 2px 2px 10px rgba(180, 180, 180, 0.15);
    border-radius: 8px;
}
.input__field-phoneNumber{
    width: auto;
    height: 48px;
    left: 30px;
    top: 108px;
    border: none;
    background: #FFFFFF;
    box-shadow: -2px -2px 10px rgba(180, 180, 180, 0.15), 2px 2px 10px rgba(180, 180, 180, 0.15);
    border-radius: 8px;
}
.input__field-password{
    width:248px;;
    height: 48px;
    left: 30px;
    top: 108px;
    border: none;
    background: #FFFFFF;
    box-shadow: -2px -2px 10px rgba(180, 180, 180, 0.15), 2px 2px 10px rgba(180, 180, 180, 0.15);
    border-radius: 8px;
}

.verify__email {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
    color: #525DED;

}

.dropdown__btn {
    width: 98%;
    height: 48px;
}
.password__field{
    display: flex;
    justify-content: space-between;
}



@media only screen and (max-width: 600px) {

    /* registration field  */
    .input__field {
        width: auto;

    }
    .input__field-password{
        width: auto;
    }
    .password__field{
        display: block;
        
    }
}