
.section__title{
    font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 49px;
/* identical to box height */

margin: 0px 30px;
color: #000000;
}

.fa-solid{
margin-right: 10px;
}


.title__arrow{
margin-right: 10px;
}

.bars{
    display: none;
}

.service__form p{
    
font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;
}

.service__form input{
    background: #F0F0F0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(136, 136, 136, 0.25);
    border-radius: 8px;
    border: none;
    padding: 10px;
    width: 70%;    
}


.servicepage{
padding: 10px;
margin-left: 10px;
}


.service__form--description p{
    
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
    }
    
    .service__form--description span{
    
        font-family: Noto Sans;
        font-style: normal;
        font-size: 16px;
        display: flex;
        align-items: center;
        color: #F0F0F0;;
        }

    .service__form--description textarea{
        background: linear-gradient(180deg, #F0F0F0 94.79%, #DF4609 100%);
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        box-shadow: 4px 4px 10px rgba(136, 136, 136, 0.25);
        border-radius: 8px;
        width: 70%;
        height: 250px;
        border: none;
        padding: 10px;
    }

    .submit-btn a{
        color: #FFFFFF;
        text-decoration: none;
    }

    .submit-btn{
        background: linear-gradient(90deg, #DE3309 -21.63%, #E06907 56.59%, #F7350A 129.49%);
border-radius: 6px;
font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
text-align: center;
padding: 10px;
color: #FFFFFF;
width: 70%;
cursor: pointer;
text-decoration: none;
    }

    .service__requestimg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }



    .opennav{
display: none;
    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
    
        
    .dropdown{
        display: none;
    }

        .bars{
            display: block;
            font-size: 20px;
        }
    
        .hamburger{
            display: block;
        }

        .overlay .closebtn {
            font-size: 60px;
            display: block;
          }
        
    
        }


        
@media screen and (min-device-width: 425px) and (max-device-width: 768px) { 

    .bars{
        display: block;
        font-size: 20px;
    }

    .hamburger{
        display: block;
    }

    .btn-area img{
        display: none;
    }

    .dropdown{
        display: none;
    }
    .nav-area img{
display: none;
    }

    .nav-title li{
        display: inline-block;
        padding: 3px;
}

.overlay .closebtn {
    font-size: 60px;
    display: block;
  }


}




       
@media screen and (min-device-width: 375px) and (max-device-width: 425px) { 


    .dropdown{
        display: none;
    }

    .bars{
        display: block;
        font-size: 16px;
    }

    .hamburger{
        display: block;
    }

    .btn-area img{
        display: none;
    }

    .nav-area img{
display: none;
    }

    .nav-title li{
        display: inline-block;
        padding: 1px;
}

.overlay .closebtn {
    font-size: 60px;
    display: block;
  }


}


      
@media screen and (min-device-width: 320px) and (max-device-width: 375px) { 

    
    .dropdown{
        display: none;
    }

    .overlay .closebtn {
        font-size: 60px;
        display: block;
      }
    
    .bars{
        display: block;
        font-size: 16px;
    }

    .hamburger{
        display: block;
    }

    .btn-area img{
        display: none;
    }

    .nav-area img{
display: none;
    }

    .nav-title li{
        display: inline-block;
        padding: 1px;
}

}

