body {
  font-family: "Noto Sans", serif;
}

.arrow {
  transform: rotate(180deg);
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.service {
  margin: 60px 0;
}

.secondCol {
  line-height: 50px;
  padding-left: 50px;
  margin-top: 100px;
}

.secondCol h5 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}

.secondCol select,
input,
textarea {
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #f0f0f0 !important;
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
  box-shadow: 4px 4px 10px rgba(136, 136, 136, 0.25) !important;
  width: 80% !important;
}

.secondCol input[type='date'] {
  width: 50% !important;
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-bottom: 5px solid #ea5409 !important;
}

.firstCol {
  position: relative;
}

.grey-bg {
  position: absolute;
  width: 83.22px;
  height: 749.01px;
  background: rgba(240, 240, 240, 0.5);
  border-radius: 100px;
  top: 0;
  right: 0;
  display: grid;
  justify-items: center;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .grey-bg {
    background: none;
  }
}
