@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
body{
    font-family: 'Noto Sans', sans-serif;
}
.main-title{
    font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 23px;
line-height: 49px;
text-align: justify;
color: #08381B;
margin-bottom: 20px;
}
.main-span{
    font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 23px;
line-height: 49px;
color: #08381B;
width: 100%;
max-width: 80%;
}
.main-detail{
    font-weight: 500;
font-size: 13px;
line-height: 18px;
margin: 25px 0;
color: #9F9F9F;
width: 100%;
max-width: 80%;
}
.explore-icon{
    margin-left: 10px;
    font-size: 26px;
}
.nav-drop{
    left: -122px !important;
}
.nav__links{
    margin: 0 20px;
}
.nav__icon{
    padding: 0 20px !important;
}
.cart__count{
    margin-left: 17px;
    margin-top: 11px;
}
.nav__drop{
    display: flex;
    justify-content: center;

}
.nav__more{
    background: none !important;
    color: #a6a6a6 !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 14px !important;
    line-height: 19px !important;
    color: #a6a6a6 !important;
    font-family: Noto Sans !important;
    border: none !important;
}
.main-btn{
    background: linear-gradient(90deg, #DE3309 -21.63%, #E06907 56.59%, #F7350A 129.49%);

max-width: 180px;
height: 50px;
text-decoration: none;
font-size: 20px;
font-weight: 500;
color: #fff;
text-align: center;
border-radius: 10px;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: space-between;
    }
}

.navbar-collapse {
    text-align: center;
}
.nav-link{
    font-style: normal !important;
    font-weight: bold  !important;
    font-size: 14px  !important;
    line-height: 19px  !important;
    color: #A6A6A6  !important;
    font-family: Noto Sans !important;
}
.stat{
    color: #E26607;
    font-size: 38px;
    font-weight: bold;
}
.stat-p{
    font-size: 20px;
    font-weight: 600;
    color: #6C6C6C;
}
.stat-div{
    width: 200px !important;
}
.stat-c{
    margin: 0 40px;
}
.banner-img{
    width: 100%;
    height: auto;
}

/* product slider */


.footer{
    width: 100%;
    height: 100%;
    min-height: 242px;
    background-color: #fff6f2;
    display: flex;
}
.footer-tag{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
}
.footer-span{
    font-size: 20px;
    font-weight: 600;
}
.quick-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: normal;
    padding: 0 10px;
}
.req-title{
    font-size: 25px;
    font-weight: bold;
}
.request__section{
    padding: 60px 0;
}
.req-img{
    padding: 100px;
}
.req-subtitle{
    color: #EB5108;
    font-size: 27px;
    margin-bottom: 0 !important;
}
.req-detail{
    font-weight: 300;
font-size: 15px;
    line-height: 18px;
    margin: 25px 0;
    color: #9F9F9F;
    width: 100%;
    
}
.req-span{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #08381B;
    width: 100%;
}

#team {
	padding: 30px 0;
}
.sec-heading p {

	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 49px;
	text-align: center;
	
	color: #EB5108;
	
}
.single-box {
	border-radius: 20px;
	overflow: hidden;
	background-color: #fff
}

.img-area {
	overflow: hidden;
	padding: 15px 0 15px;
}
.img-area img {
	margin: 0 auto;
	width: 340px;
	height: 299px;
}
.team-slider .owl-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -60px;
	text-align: center;
	width: 100%;
}
.team-slider button.owl-dot {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: 0 6px;
	text-align: center;
	border-radius: 50%;
	background-color: #262626;
}
.team-slider .owl-dot.active {
	background-color: coral;
}

@-webkit-keyframes move-animation {
	0% {
		top: 3px;
	}
	50% {
		top: -3px;
	}
	100% {
		top: 3px;
	}
}
.testimonial__para{
    font-size: 28px !important;
}

.cart-div{
    position: relative;
}

.cart-div small {
  font-weight: 700;
  font-size: 10px;
  color: white;
  background: #e06907;
  padding: 2px 6px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: 41%;
}
