body{
    background: #F3F3F3;
}

.track__dashboard-title p{

    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */
    
    
    color: #DF4A1E;
}

.track__dashboard-secondtitle p{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    
    color: #807D7D;
    
}

/* .table__title{
background: linear-gradient(270.05deg, #FA3A0A 0.04%, #FA7507 52.23%, #FA360A 98.93%);
border-radius: 20px;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
color: #FFFFFF;
padding: 20px 10px;
} */

table {
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
  }

  #table__body-secondary tbody{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  }


  tr:first-child td:first-child{
    border-top-left-radius: 20px;
  }
  
  tr:last-child td:first-child{
    border-bottom-left-radius: 20px;
  }
  
  tr:first-child td:last-child{
    border-top-right-radius: 20px;
  }
  
  tr:last-child td:last-child{
    border-bottom-right-radius: 20px;
  }



#table__title{
  background: linear-gradient(270.05deg, #FA3A0A 0.04%, #FA7507 52.23%, #FA360A 98.93%);
  border-radius: 20px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF; 

}


#table__title td{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF; 

}

  tbody{
     background: #FFFFFF;
  }
  


  table td{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    
    color: #000000;
  }

  
  table th {
      
    font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
/* identical to box height */
color: #FFFFFF;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
      width: 50%;
    }

   }
  

  .trackdashboard__table{
    background: linear-gradient(270.05deg, #FA3A0A 0.04%, #FA7507 52.23%, #FA360A 98.93%);
    border-radius: 10px;
  }

  .trackdashboard__data{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    
    color: #000000;
  }


table  .track__secondrow{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    
    color: #000000;
    
    opacity: 0.5;
  }



  .track__table{
    background: linear-gradient(270.05deg, #FA3A0A 0.04%, #FA7507 52.23%, #FA360A 98.93%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .track__table-datalink{
    background: linear-gradient(270.05deg, #FA3A0A 0.04%, #FA7507 52.23%, #FA360A 98.93%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
/* identical to box height */
padding: 10px;
text-decoration: none;
color: #FFFFFF;
  }

  
  .track__table-link a{
    padding: 20px;
  }
  
  .track__table-link a{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    text-decoration: none;
    color: #FFFFFF;
  }

  td{
      text-align: left;
  }


  th{
      text-align:left;
  }


  .trackdata__orange{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    
    color: #F0AE04;
    
  }

  .trackdata__green{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #42FF00;  
  }


  .detrails-card{
    max-width: 760px;
    background: linear-gradient(180deg, #FFFFFF 97.92%, #FA370B 99%);
    box-shadow: 0px 4px 4px 2px rgb(0 0 0 / 25%);
    border-radius: 10px;
        margin: 15px 0 40px;
    padding: 20px;
}
.detrails-card h4{
font-weight: normal;
font-size: 24px;
line-height: 33px;
/* identical to box height */
margin: 0;

color: #000000;
}
.detrails-card h5{
    font-weight: normal;
font-size: 24px;
line-height: 33px;
/* identical to box height */
margin: 0;
margin-left: 10px;
color: #0964de;
}
.detrails-card p{
font-weight: normal;
font-size: 24px;
line-height: 33px;
/* identical to box height */
margin: 0;

color: #000000;

opacity: 0.7;
}
.detrails-card h3{
font-weight: normal;
font-size: 32px;
line-height: 42px;
/* identical to box height */

margin: 0;
color: #000000;
}


th, td{
    padding: 20px;
}


.track__sec-title{
background-color: #FFFFFF;
width: 100%;
height: 232px;
}


table{
    margin: 30px 0px;
  }


  @media only screen and (min-width: 1024px) and (max-width: 1300px) {
  
    .table__title span {
      padding: 0px;
      margin-left: -35px;
      font-size: 20px;
  }

  }

