/* navbar css part starts */
@media (max-width: 992px) {
    .navbar-collapse .varal-logo {
        display: none;
    }


    .nav__useraccount {
        justify-content: center;
    }
    .navbar__user-img {
        width: 7% !important;
    }

}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: space-between;
    }

    .navbar-brand img {
        display: none;
    }
    

}


@media only screen and (max-width: 768px) and (min-width: 1024px) {
    button[type="submit"] {
        text-indent: -999px;
        overflow: hidden;
        width: 40px;
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
        border-radius: inherit;
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
        cursor: pointer;
        position: absolute;
    }


    input[type="search"] {
        background: #FFFFFF;
        border: 1px solid #142805;
        box-sizing: border-box;
        border-radius: 5px;
        margin: 0;
        padding: 7px 8px;
        font-size: 14px;
        color: inherit;
        position: relative;
    }


}


.nav__useraccount {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-collapse {
    text-align: center;
}

img.varal-logo {
    width: 10%;

}

.nav-link {
    margin: 20px;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 14px !important;
    line-height: 19px !important;
    color: #A6A6A6 !important;
    font-family: Noto Sans !important;
}

.header__search {
    background-color: #FFFFFF;
}

.navbar__user-img {
    width: 15%;
}

/*  */





input[type="search"] {
    background: #FFFFFF;
    border: 1px solid #142805;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
}



button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
}

/*  */
/* ends */

body{
    background: #F3F3F3;
}

.track__dashboard-title p{

    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */
    
    
    color: #DF4A1E;
}

.track__dashboard-secondtitle p{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    
    color: #807D7D;
    
}

.table__title{
display: flex;
background: linear-gradient(270.05deg, #FA3A0A 0.04%, #FA7507 52.23%, #FA360A 98.93%);
border-radius: 20px;
justify-content: space-around;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
padding: 20px 10px;
}

.table__title span{
  padding: 0px;
margin-left: -100px;
}
table {
    margin: 0;
    padding: 0;
    width: 100%;
  }



  tbody{
     background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  


  table td{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    
    color: #000000;
  }

  
  table th {
      
    font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
/* identical to box height */
color: #FFFFFF;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
      width: 50%;
    }

   }
  

  .trackdashboard__table{
    background: linear-gradient(270.05deg, #FA3A0A 0.04%, #FA7507 52.23%, #FA360A 98.93%);
    border-radius: 10px;
  }

  .trackdashboard__data{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    
    color: #000000;
  }


table  .track__secondrow{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    
    color: #000000;
    
    opacity: 0.5;
  }



  .track__table{
    background: linear-gradient(270.05deg, #FA3A0A 0.04%, #FA7507 52.23%, #FA360A 98.93%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .track__table-datalink{
    background: linear-gradient(270.05deg, #FA3A0A 0.04%, #FA7507 52.23%, #FA360A 98.93%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
/* identical to box height */
padding: 10px;
text-decoration: none;
color: #FFFFFF;
  }

  
  .track__table-link a{
    padding: 20px;
  }
  
  .track__table-link a{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    text-decoration: none;
    color: #FFFFFF;
  }

  td{
      text-align: left;
  }


  th{
      text-align:left;
  }


  .trackdata__orange{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    
    color: #F0AE04;
    
  }

  .trackdata__green{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #42FF00;  
  }


  .detrails-card{
    max-width: 760px;
    background: linear-gradient(180deg, #FFFFFF 97.92%, #FA370B 99%);
    box-shadow: 0px 4px 4px 2px rgb(0 0 0 / 25%);
    border-radius: 10px;
        margin: 15px 0 40px;
    padding: 20px;
}
.detrails-card h4{
font-weight: normal;
font-size: 24px;
line-height: 33px;
/* identical to box height */
margin: 0;

color: #000000;
}
.detrails-card h5{
    font-weight: normal;
font-size: 24px;
line-height: 33px;
/* identical to box height */
margin: 0;
margin-left: 10px;
color: #0964de;
}
.detrails-card p{
font-weight: normal;
font-size: 24px;
line-height: 33px;
/* identical to box height */
margin: 0;

color: #000000;

opacity: 0.7;
}
.detrails-card h3{
font-weight: normal;
font-size: 32px;
line-height: 42px;
/* identical to box height */

margin: 0;
color: #000000;
}


th, td{
    padding: 20px;
}


.track__sec-title{
background-color: #FFFFFF;
width: 100%;
height: 232px;
}


table{
    margin: 30px 0px;
  }


  @media only screen and (min-width: 1024px) and (max-width: 1300px) {
  
    .table__title span {
      padding: 0px;
      margin-left: -35px;
      font-size: 20px;
  }

  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
  
    .table__title span {
      padding: 0px;
      margin-left: -35px;
      font-size: 20px;
  }

  }

  @media only screen and (min-width: 425px) and (max-width: 768px) {
  
    .table__title span {
      padding: 0px;
      margin-left: 5px;
      font-size: 15px;
  }

  }

  @media only screen and (min-width: 375px) and (max-width: 425px) {
  
    .table__title span {
      padding: 0px;
      margin-left: 5px;
      font-size: 15px;
  }

  }


  @media only screen and (min-width: 320px) and (max-width: 475px) {
  
    .table__title span {
      padding: 0px;
      margin-left: 6px;
      font-size: 14px;
  }

  }

/* notification  */
.notification-box__modal-title {
    font-family: Noto Sans !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 33px !important;
    color: #000000 !important;
}

.modal-body__text {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #C0C0C0;
}

.modal-body__text-coloured {
    color: coral;
}

.modal-body__tittle {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.modal-body__list-text {
    font-family: Noto Sans;
    padding: 10px;
    border-bottom: 1px solid #D6D6D6;
    transform: rotate(-0.21deg);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #A6A6A6;
}

ul {
    list-style: none;
}

.ul1 li::before {
    content: "•";
    color: coral;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}
.ul2 li::before {
    content: "•";
    color: #A6A6A6;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}
/* notification  */
@media (max-width: 992px) {
    .notification-box__modal-title {
        
        font-size: 18px !important;

    }
    .modal-body__text {
        
        font-size: 11px;
        
    }
    .modal-body__tittle {
        
        font-size: 16px;
        
    }
    .modal-body__list-text {
       
        font-size: 14px;
        
    }
}