*{
    font-family: 'Noto Sans', serif;
}
h5 {
  color: #fa3e0a !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}

.notifications-inner h5{
    margin-left: 20px;   
}

.notifications-inner-wrapper{
    margin: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-left: 8px solid #DE370A;
    padding: 20px 80px;
    line-height: 3;
    position: relative;
}

.ml20{
    margin-left: 20px;
}

p{
    margin-bottom: 0;
}

.bell{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
    width: 199px;
}

@media only screen and (max-width: 768px) {
    .bell {
      width: 100px;
    }
    .notifications-inner-wrapper {
      margin: 40px 0;
    }
  }